/* Nút thêm mới */
.btn_add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-color: #50B83C;
  color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn_add:hover {
  background-color: #2a8618;
}

.btn_add .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

/* Khung chứa các nút hành động */
.action {
  display: flex;
}

/* Nút hành động */
.action-btn {
  margin-left: 15px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 36px;
  opacity: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  padding: 0;
}

.action-btn:hover {
  background-color: #e0e0e0;
}

/* Biểu tượng trong nút */
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}